@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width:767px){
    .add{
        margin-right: 20px;
    }
   
}



@media only screen and (min-width:640px){
   .box{
    min-width: 300px;
    
   }
}
@media only screen and (min-width:381px){
   .list{
   padding-left: 20px;
   }
}

@media only screen and (min-width:320px){
    .box{
     width: 220px;
      
    }
 }
@media only screen and (min-width:375px){
    .box{
     width: 247px;
    }
 }
@media only screen and (min-width:425px){
    .box{
     width: 247px;
    }
    .deletebox{
        width: 247px;
       }
 }

 /* delete */

 
 @media only screen and (min-width:320px){
     .deletebox{
      width: 220px;
     }
  }
 @media only screen and (min-width:375px){
     .deletebox{
      width: 247px;
     }
  }

 @media only screen and (min-width:768px){
     .deletebox{
      width: 350px;
     }
  }
 @media only screen and (min-width:1025px){
     .deletebox{
      width: 450px;
     }
   
  }
 @media only screen and (max-width:455px){
     .pagi{
      margin-left: 75px;
     }
   
  }
 @media only screen and (max-width:380px){
     .productHeader{
      display: block;
      margin-left: 20px;
      
     }
     .add{
        margin-top: 10px;
        display: block;
        text-align: center;
        }
        .list{
            text-align: center;
        }
        .pagination{
        display: flex;
        justify-content: start;
        
        }
  }

  
 

